.parent-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* .dashboard-input-container {
  display: grid;
  place-items: center;
  margin: 0 auto;
} */

.dashboard-button {
  margin-top: 1rem;
  border: 0;
  outline: 0;
  padding: 2rem 5rem !important;
  background-color: var(--Primary-Color);
  border-radius: 1rem;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem !important;
  line-height: 3rem;
  color: #FFFFFF;
}