.contact-form {
  background: linear-gradient(360deg, #b3b3b3 50%, #bccadf 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 15px;
}

.input-field-design {
  background: linear-gradient(135deg, #dddddd 0%, #c3cfe2 50%);
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.form-title {
  margin: 2.2rem 0;
  font-size: 3rem;
  color: #333;
  font-weight: bold;
}

.input-group {
  position: relative;
  margin-bottom: 15px;
}

.textarea-icon {
  font-size: 13px;
  position: absolute;
  top: 22%;
  left: 15px;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.5);
}

.input-icon {
  font-size: 13px;
  position: absolute;
  top: 46%;
  left: 15px;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.5);
}

.input-field {
  font-size: 14px;
  width: 100%;
  padding: 20px 20px 20px 40px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
}

.input-field:focus {
  outline: none;
}

.input-field::placeholder {
  font-size: 13px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}

.contact-submit-button {
  border: 0;
  outline: 0;
  margin: 1rem 0;
  padding: 1.5rem 5rem;
  background: #075FE4;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #FFFFFF !important;
  text-decoration: none;
}

.submit-button:hover {
  background: #4a4ae2;
}

.shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.link-auth {
  font-family: 'Inter'  !important;;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-align: center;
  letter-spacing: -0.008rem;
  color: var(--subText-primary-color);
  margin-top: 2.3rem;
  cursor: pointer;
}
.toggle-form {
  text-decoration: none;
}

/* media query */
@media (max-width:770px) {
  .input-field-design {
    width: 75%;
    padding: 20px;
  }
}

@media (max-width:580px) {
  .input-field-design {
    width: 100%;
  }
}

/* 
@media (max-width:420px) {
  .input-field {
    width: 280px;
  }
  .textarea-icon {
    top: 28%;
  }
} */