.projects-container {
  background: #22282F;
  padding: 6rem;
}

.project-1 {
  background: #2D343F;
  border-radius: 30px;
  height: 640px;
}
.card-container {
  padding: 4rem;
}

.project-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.7rem;
  color: #FFFFFF;
  padding: 1.5rem;
}

.skills-heding {
  margin-bottom: 9rem !important;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 3rem;
}

.button-clientServer {
  border: 0;
  outline: 0;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #1B1F24;
  padding: .8rem 1.6rem;
  background: #B0CCF6;
  border-radius: 10px;
}