.services-container {
  background: #1B1F24;
  padding: 10rem 2rem;
}

.services-card-1 {
  padding: 4.5rem 3rem;
  margin-top: 12rem;
  margin-right: 1rem;
  background: #22282F;
  border-radius: 30px;
  cursor: pointer;
}

.services-card-2 {
  padding: 4.5rem 3rem;
  margin-top: 2rem;
  background: #22282F;
  border-radius: 30px;
  margin-right: 1rem;
  cursor: pointer;
}

.services-card-3 {
  padding: 4.5rem 3rem;
  margin-top: -8rem;
  background: #22282F;
  border-radius: 30px;
  cursor: pointer;
  margin-right: 1rem;
}

.services-image {
  position: relative;
  width: 100px;
  height: 100px;
  background: #075FE4;
  border-radius: 50%;
}

.coder-icon {
  position: absolute;
  color: white;
  top: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 5rem;
}

.services-main-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.7rem;
  color: #FFFFFF;
  padding: 2.8rem 0 1rem 0;
}
.services-sub-heading {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 3rem; 
  color: #D7E5FB;
  margin-bottom: 3rem;
}
.services-after {
  position: relative;
}
.after-after::after {
  position: absolute;
  top: 43%;
  left: 0%;
  content: "";
  width: 4.7rem;
  height: .6rem;
  background-color: #075FE4;
}
  