.skills-container {
  background: #1B1F24;
  padding: 6rem;
}

.skill-card {
  display: inline-block;
  margin-right: 20px;
  box-sizing: border-box;
}

.skills-card-1 {
  padding: 3rem 3rem;
  background: #22282F;
  border-radius: 30px;
  cursor: pointer;
  max-width: 300px
}

.skils-line {
  position: relative;
}

.skils-line {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4.6rem;
  height: .6rem;
  background-color: #075FE4;
}

.skills-main-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 7rem;
  color: var(--Secondary-Color)
}

/* .skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: fit-content;
  padding: 2.5rem 2rem 2rem 2rem;
} */

.skillsHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skillsHeader h2 {
  font-family: var(--primaryFont);
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
}

.skillsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 2rem;
}

.skill--scroll {
  width: 100%;
  margin: 0 2rem;
}

.skill--box {
  width: 300px;
  height: 300px;
  background: #22282F;
  border-radius: 30px;
  padding: 3rem 4rem;
  transition: 300ms ease-in-out;
  margin: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.skill--box:hover {
  transform: scale(1.1);
}

.skill--box>img {
  pointer-events: none;
}

.skill--box h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 4.4rem;
  color: #D7E5FB;
  padding: 2.1rem 0 .3rem 0;
}

.skill-rate {
  position: relative;
  text-align: center;
}

.skill-rate::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  background: linear-gradient(to right, #88B2F2, #075FE4);
  border-radius: 1.5rem;
}

.title-skills {
  text-align: center;
}

.marquee {
  padding: 2.7rem 0;
}

@media screen and (max-width:600px) {
  .skills-container {
    padding: 4rem;
  }
}